---
import Page from '../layouts/Default.astro';
---

<Page
	title="About the Club"
	description="Learn about PVCC's coding club."
	datePublished={new Date('November 18 2025')}
>
	<h1>About the Club</h1>
	<p>
		We're a new coding club at Piedmont Virginia Community College.<br>
		Our mission is to have fun while doing meaningful work.
	</p>
</Page>
