---
import Page from '../layouts/Plain.astro';
---

<Page
	title="Home"
	description="Home of the PVCC Coding Club."
	heroImage="/header-wide.png"
>
	<h1>Welcome</h1>
	<p>
		This is the official website of the PVCC coding club.
	</p>
	<ul>
		<li><a href="/about">Want to learn more?</a></li>
		<li><a href="/suggest">Have a suggestion?</a></li>
	</ul>
</Page>