---
import Layout from '../layouts/Plain.astro';
---

<Layout
	title="Suggest a Project"
	description="Suggest a project to PVCC's coding club."
>
	<h1>Suggest a Project</h1>
	<p>
		Coming soon.
	</p>
</Layout>
