---
import { SITE_TITLE, GITHUB_URL } from '../consts';

const today = new Date();
---

<footer>
	&copy; {today.getFullYear()} {SITE_TITLE}
	<p class="disclaimer">
		PVCC does not discriminate on the basis of race, color, national origin, sex, disability, or age in its programs and activities. <br />
		The following person has been designated to handle inquiries regarding the non-discrimination policies: <br />
		Kim Von Savage, Chief Human Resources Officer, kvansavage@pvcc.edu, (434) 961-5567, 501 College Drive, Charlottesville, VA 22902.
	</p>
</footer>

<style>
	footer {
		padding: 2em 1em 6em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}
	.disclaimer {
		margin: 1em auto 0 auto;
		font-size: 0.5em;
		line-height: 1.4;
	}
</style>
