---
import Meta from '../components/Meta.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

const { title, description, heroImage, fullWidth } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<Meta title={title} description={description} />
	</head>
	<body>
		<Header />
		<div class="hero-image">
			{heroImage && <img width="100%" height="auto" src={heroImage} alt="" />}
		</div>
		<main class={fullWidth ? "full-width" : undefined}>
			<slot />
		</main>
		<Footer />
	</body>
</html>
